.todoapp {
  margin-top: 160px;
}

.todoapp h1 {
  color: #3f7ab8;
  font-size: 65px;
}

.todo-list li label {
  cursor: pointer;
  font-weight: 300;
}

button, input[type="checkbox"] {
  cursor: pointer;
}